{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class='row justify-content-center'>
        <div class="col" style="border: 1px solid #999;">
            <ul class="row nav nav-tabs mt-1" id="myTab" role="tablist">
                <h4 class="col-md mt-1">전체 ALL</h4>
                <div class="col-md"></div>
                <li class="col-md-2 nav-item px-0" role="presentation">
                    <button class="col-12 nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">개요</button>
                </li>
                <li class="col-md nav-item px-0" role="presentation">
                    <button class="col-12 nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">히스토리</button>
                </li>
            </ul>
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mx-1 mt-3">
                        <div class="col-2" style="color:#ff0000;">
                            <div class="row">
                                {{account_state.total_profit_percent}}%
                            </div>
                            <div class="row">
                                ▲ {{account_state.total_profit}}￦
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                총 자산 : {{account_state.total_balance}}원
                            </div>
                            <div class="row">
                                입금액 : {{account_state.total_deposit}}원
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                매수자본 : {{account_state.total_buy}}원
                            </div>
                            <div class="row">
                                보유현금 : {{account_state.total_cash}}원
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                매도횟수 : {{account_state.sell_count}}번
                            </div>
                            <div class="row">
                                총평가손익 : {{account_state.total_profit}}원
                            </div>
                        </div>
                    </div>
                    <hr></hr>
                    <div class="row"></div>
                    <div style="width: 100%; height: 300px;" id="line_top_x"></div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
            </div>          
        </div>
        <div class="col-md-4" style="border: 1px solid #999;">
            <div class="row justify-content-end">
                <p class="col text-start my-2">티커</p>
                <p class="col text-end my-2">수익률</p>
                <p class="col text-end my-2">진행도</p>
            </div>
            
            <hr class="my-1"></hr>
            <div class="row" onclick="#kk" >
                <ul class="col list-unstyled text-start mb-0">
                    <li>전체</li>
                    <li>All</li>
                </ul>
                <ul class="col list-unstyled text-danger text-end mb-0" >
                    <li>{{account_state.total_profit_percent}}%</li>
                    <li>▲ {{account_state.total_profit}}￦</li>
                </ul>
                <p class="col text-center mb-0">
                    -
                </p>
            </div>  
            {% if trade_per_coin %}
            {% for coin in trade_per_coin %}
            <hr class="my-1"></hr>
            <div class="row">
                <ul class="col-4 list-unstyled text-start mb-0">
                    <li>티커</li>
                    <li>{{coin.ticker}}</li>
                </ul>
                <ul class="col-4 list-unstyled text-danger text-end mb-0" >
                    <li>%</li>
                    <li>▲ 12346￦</li>
                </ul>
                <ul class="col-4 list-unstyled text-end mb-0" >
                    <li>{{coin.execution_count}}/40*100%</li>
                    <li>{{coin.execution_count}}일</li>
                </ul>
            </div>  
            {% endfor %}
            {% endif %}
            

            
        </div>
    </div>
</div>
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)
      triggerEl.addEventListener('click', function (event) {
        event.preventDefault()
        tabTrigger.show()
      })
    })
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Day');
        data.addColumn('number', 'Guardians of the Galaxy');
        data.addColumn('number', 'The Avengers');
        data.addColumn('number', 'Transformers: Age of Extinction');

        data.addRows([
            [1,  37.8, 80.8, 41.8],
            [2,  30.9, 69.5, 32.4],
            [3,  25.4,   57, 25.7],
            [4,  11.7, 18.8, 10.5],
            [5,  11.9, 17.6, 10.4],
            [6,   8.8, 13.6,  7.7],
            [7,   7.6, 12.3,  9.6],
            [8,  12.3, 29.2, 10.6],
            [9,  16.9, 42.9, 14.8],
            [10, 12.8, 30.9, 11.6],
            [11,  5.3,  7.9,  4.7],
            [12,  6.6,  8.4,  5.2],
            [13,  4.8,  6.3,  3.6],
            [14,  4.2,  6.2,  3.4]
        ]);

        var options = {
            width: '100%',
            height: '100%',
            axes: {
            x: {
                0: {side: 'bottom'}
            }
            },
            legend : {
                position: 'none',
                textStyle: {
                    color: 'blue', fontSize: 16
                }
            }
        };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
{% endblock %}