{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class='row justify-content-center mb-4'>
        <div class="tab-content col" id="nav-tabContent" style="border: 1px solid #999;">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <ul class="row nav nav-tabs mt-1" id="myTab" role="tablist">
                    <h4 class="col-md mt-1">전체 ALL</h4>
                    
                    <li class="col-md-2 nav-item px-0" role="presentation">
                        <button class="col-12 nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">개요</button>
                    </li>
                    <li class="col-md-2 nav-item px-0" role="presentation">
                        <button class="col-12 nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">히스토리</button>
                    </li>
                </ul>
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mx-1 mt-3">
                            <div class="col-2 updown">
                                <div><p2 class="average">{{account_state.total_profit_percent}}</p2>%</div>
                                <div>▲ <p2 class="average">{{account_state.total_profit}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>총 자산 : <p2 class="average">{{account_state.total_balance}}</p2>￦</div>
                                <div>입금액 : <p2 class="average">{{account_state.total_deposit}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>매수자본 : <p2 class="average">{{account_state.total_buy}}</p2>￦</div>
                                <div>보유현금 : <p2 class="average">{{account_state.total_cash}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>매도횟수 : <p2 class="average">{{account_state.sell_count}}</p2>번</div>
                                <div>총평가손익 : <p2 class="average">{{account_state.total_profit}}</p2>￦</div>
                            </div>
                        </div>
                        <hr class="mb-0"></hr>
                        <div style="float:right; position: relative; z-index:2;">
                            <button type="button" class="btn btn-primary mt-4" id="refresh_all">
                                <i class="fa fa-refresh"> refresh</i>
                            </button>
                        </div>
                        <div style="width: 100%; position: relative; height: 300px; z-index:1;" id="chart_all"></div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                </div>          
            </div>
            {% if trade_per_coin %}
            {% for coin in trade_per_coin %}
                <div class="tab-pane fade" id="list-{{coin.ticker}}" role="tabpanel" aria-labelledby="list-{{coin.ticker}}-list">
                    <ul class="row nav nav-tabs mt-1">
                        <h4 class="col-md mt-1">{{coin.ticker_name}} {{coin.ticker}}</h4>
                        <div class="col-md"></div>
                    </ul>
                    <div>
                        <div class="row mx-1 mt-3">
                            <div class="col-2 updown" style="color:#ff0000;">
                                <div><p2 class="average">{{coin.coin_profit_percent}}</p2>%</div>
                                <div>▲ <p2 class="average">{{coin.coin_profit}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>원금 : <p2 class="average">{{coin.principal}}</p2>￦</div>
                                <div>분할금액 : <p2 class="average">{{coin.split}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>매수금액 : <p2 class="average">{{coin.average}}</p2>￦</div>
                                <div>평가금액 : <p2 class="average">{{coin.current_value}}</p2>￦</div>
                            </div>
                            <div class="col">
                                <div>진행일 : <p2 class="average">{{coin.execution_count}}</p2>일</div>
                                <div>남은금액 : <p2 class="average">{{coin.remain}}</p2>￦</div>
                            </div>
                        </div>
                        <hr></hr>
                        <div style="float:right; position: relative; z-index:2;">
                            <button type="button" class="btn btn-primary" id="refresh_{{coin.ticker}}">
                                <i class="fa fa-refresh"> refresh</i>
                            </button>
                        </div>
                        <div style="width: 100%; position: relative; height: 300px; z-index:1;" id="chart_{{coin.ticker}}"></div>
                    </div>          
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-4" style="border: 1px solid #999;">
            <div class="row justify-content-end mx-1">
                <p class="col text-start my-2">티커</p>
                <p class="col text-end my-2">수익률</p>
                <p class="col text-end my-2">진행도</p>
            </div>
            
            <hr class="my-1"></hr>
            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
                    <div class="row me-auto">
                        <div class="col text-start">
                            <div>전체</div>
                            <div>ALL</div>
                        </div>
                        <div class="col text-end updown">
                            <div><p2 class="average">{{account_state.total_profit_percent}}</p2>%</div>
                            <div><p2 class="average">{{account_state.total_profit}}</p2>￦</div>
                        </div>
                        <div class="col text-end">
                            <p class="col mb-0">-</p>
                        </div>

                    </div>
                </a>
                {% if trade_per_coin %}
                {% for coin in trade_per_coin %}
                <input type="hidden" id="coinVar" value="{{ coin.ticker }}">
                <a class="list-group-item list-group-item-action" id="list-{{coin.ticker}}-list" data-bs-toggle="list" href="#list-{{coin.ticker}}" role="tab" aria-controls="list-{{coin.ticker}}">
                    <div class="row me-auto">
                        <div class="col text-start">
                            <div>{{coin.ticker_name}}</div>
                            <div>{{coin.ticker}}</div>
                        </div>
                        <div class="col text-end updown">
                            <div><p2 class="average">{{coin.coin_profit_percent}}</p2>%</div>
                            <div><p2 class="average">{{coin.coin_profit}}</p2>￦</div>
                        </div>
                        <div class="col text-end proceed">
                            <div><p2 class="average proceed-target">{{coin.execution_count}}</p2>%</div>
                            <div><p2 class="average proceed-source">{{coin.execution_count}}</p2>일</div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %} 
            </div>  
        </div>
    </div>
</div>
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
    triggerTabList.forEach(function (triggerEl) {
      var tabTrigger = new bootstrap.Tab(triggerEl)
      triggerEl.addEventListener('click', function (event) {
        event.preventDefault();
        tabTrigger.show();
      })
    })
</script>
<script>
    function averageFormatting() {
        var averages = document.querySelectorAll('.average');
        averages.forEach(function(average) {
            var average_value = Number(average.innerHTML);
            average.innerHTML = average_value.toLocaleString();
        });
    };
    function upDownColoring() {
        var updowns = document.querySelectorAll('.updown');
        updowns.forEach(function(updown) {
            if(updown.innerHTML.indexOf('-')==-1){
                updown.style.color =  "#ff0000";
            }
            else{
                updown.style.color =  "#0000ff";
            }
        });
    };
    function proceedPercent() {
        var proceeds = document.querySelectorAll('.proceed');
        proceeds.forEach(function(proceed) {
            var execution_count = Number(proceed.getElementsByClassName('proceed-source')[0].innerHTML);
            proceed.getElementsByClassName('proceed-target')[0].innerHTML = (execution_count/40*100).toFixed(2);
        });
    };
    averageFormatting();
    upDownColoring();
    proceedPercent();
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    $("[id^=refresh]").on('click', function(event){ 
        google.load('visualization', '1.0', {'packages':['corechart']});
        const t = this;
        
        function drawChart() {
            var options = {
                width: '100%',
                interpolateNulls: true,
                axes: {
                    x: {
                        0: {side: 'bottom'}
                    }
                },
                theme : {
                    chartArea: {width: '90%', height: '80%'},
                    legend: {position: 'in'},
                    titlePosition: 'in', axisTitlesPosition: 'in',
                }
            };

            var id = $(t).attr("id");
            var ticker = id.replace("refresh_", "");
              
            var data = new google.visualization.DataTable();
    
            const request = new XMLHttpRequest();
            request.open('GET', '/googlechart?ticker='+ticker,true);
            request.responseType='json';
            request.send();
            request.onreadystatechange = function(event){
                if(request.readyState == 4 && request.status == 200){
                    const responseData = request.response;
                    if(ticker=='all'){
                        var coins = [];
                        responseData.forEach(function(res){
                            coins.push(res.fields.history_ticker);
                        });
                        const uniqueCoins = Array.from(new Set(coins));
                        data.addColumn('datetime', 'date');
                        uniqueCoins.forEach(function(ucoin){
                            data.addColumn('number', ucoin+'_profit');
                        });
                        responseData.forEach(function(res){
                            const rowForm = Array.from({length: uniqueCoins.length}, () => null);
                            rowForm[uniqueCoins.indexOf(res.fields.history_ticker)]=Number(res.fields.history_profit);
                            rowForm.unshift(new Date(res.fields.history_date));
                            data.addRows([rowForm]);
                        });
                        var chart = new google.visualization.LineChart(document.getElementById('chart_'+ticker));
                        chart.draw(data,options);
                    }
                    else{
                        data.addColumn('datetime', 'date');
                        data.addColumn('number', 'coin price');
                        responseData.forEach(function(res){
                            data.addRows([[new Date(res.fields.log_date), Number(res.fields.log_price)]]);
                        });
                        var chart = new google.visualization.LineChart(document.getElementById('chart_'+ticker));
                        chart.draw(data,options);
                    }
                }
            };
        }
        google.charts.setOnLoadCallback(drawChart);
    });
</script>
{% endblock %}